.cart {
  padding: 0.5em;
  font-size: 15px;
  margin: 1em 0;
}

.cart_wrapper {
  display: flex;
  justify-content: space-between;
}

.empty_cart {
  text-align: center;
}

.empty_cart_message {
  margin: 2em 0 1em 0;
}

.cart_stack {
  font-size: 4.5em;
  text-align: center;
  color: #00d919;
}

.summary_wrapper {
  width: 30%;

}

.new_wrapper{
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

    padding: 0.5rem 1rem;
    border: 0.4px solid #7f7f7f57;
    border-radius: 0.25em;
}

.summary_text {
  text-align: left;
  font-size: 20px;
  padding: 0.5rem 0;
}

.summary_item_wrapper {
  display: flex;
  justify-content: space-between;
}

.summary_item_wrapper:not(:last-child) {
  margin-bottom: 0.4rem;
}

.content {
  width: 68%;
}

.summary_item {
  padding: 0.5em 0em;
  margin: 0 1.6em 0 0;
}

.summary_amount {
  text-align: center;
  padding: 0.5em 0em;
  width: 40%;
  border: 0.4px solid #7f7f7f57;
  border-radius: 0.25em;
}

@media (max-width: 768px) {
  .cart_wrapper {
    display: flex;
    justify-content: space-between;
  }

  .content {
    width: 58%;
  }

  .summary_wrapper {
    width: 40%;
    margin-left: 1%;
  }
}

@media (max-width: 580px) {
  .cart_wrapper {
    display: flex;
    flex-direction: column;
  }

  .content {
    width: 100%;
  }
  .summary_wrapper {
    width: 100%;

    margin-left: 0;
  }

  .summary_amount {
    width: 35%;
  }
}
