.item2 {
  border: 0.5px solid #00d919;
}

.view_wrapper,
.view_wrapper1 {
  display: flex;
  flex-direction: column;
}

.view_wrapper:hover,
.view_wrapper:focus,
.view_wrapper1 :hover,
.view_wrapper1 :focus {
  text-decoration: none;
}

.mobile {
  display: none;
}

.item_wrapper,
.item_wrapper1 {
  padding: 10px;
  margin: 3px 2px 2px 2px;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-clip: border-box;
  color: #616161;
  text-align: center;
  align-items: center;
  height: 100%;
}

.item_wrapper:hover,
.item_wrapper:focus {
  box-shadow: 0rem 0rem 01rem 0rem #00000032 !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.item_wrapper1:hover,
.item_wrapper1:focus {
}

.item_image_wrapper {
  justify-content: center;
}

.item_image {
  background-image: url("../../files/spinner.gif");
  background-position: center;
  border-radius: 0.5rem;
  width: 140px;
  height: 220px;
  transition: all 0.6s ease-in-out;
}

.picLoad {
  background-image: url("../../files/spinner.gif");
  background-position: center;
  border-radius: 0.5rem;
  width: 100%;
  height: 220px;
  transition: all 0.6s ease-in-out;
}

.item_name_wrapper {
  text-align: center;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: auto;
}

.item_name {
  font-size: 14px;
}

.item_price_wrapper {
  text-align: center;
}

.item_price {
  background-color: transparent;
  border: 0.5px solid #00d919;
  font-size: 12px;
  color: #272727;
  border-radius: 2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #616161;
  width: auto;
  margin: 0 auto;
  padding: 3px 10px;
}

.item_price2 {
  background-color: transparent;
  font-size: 12px;
  color: #272727;
  border-radius: 2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #616161;
  width: auto;
  margin: 0 auto;
  padding: 3px 10px;
}

.discount {
  font-size: 10px;
}

@media (max-width: 720px) {
  .item_image {
    width: 105px;
    height: 155px;
    transition: all 0.6s ease-in-out;
  }

  .picLoad {
    width: 105px;
    height: 155px;
    transition: all 0.6s ease-in-out;
  }
}

@media (max-width: 540px) {
  .view_wrapper1 {
    display: none;
  }

  .mobile {
    display: flex;
    flex-direction: column;
  }

  .mobile:hover,
  .mobile:focus {
    text-decoration: none;
  }

  .item_wrapper {
    border-radius: 0.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-clip: border-box;
    color: #616161;
    text-align: center;
    align-items: center;
    height: 100%;
  }

  .item_image_wrapper {
  }

  .item_name_wrapper {
    text-align: left;
  }

  .item_name {
  }

  .item_price_wrapper {
    text-align: left;
  }

  .item_price {
  }
}

/* function shuffleArray(arr) {
  arr.sort(() => Math.random() - 0.5);
}
let arr = [1, 2, 3, 4, 5];
shuffleArray(arr);
console.log(arr) */

/* const getShuffledArr = arr => {
  const newArr = arr.slice()
  for (let i = newArr.length - 1; i > 0; i--) {
      const rand = Math.floor(Math.random() * (i + 1));
      [newArr[i], newArr[rand]] = [newArr[rand], newArr[i]];
  }
  return newArr
}; */
