# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/src/Router
/src/Redux
/src/Okukus/useAysnc.js
/src/Okukus/useAysnc2.js
/src/Okukus/axiosMethod.js
/src/Okukus/api.js
/src/Okukus/User/yard.txt
/src/Okukus/Nav/new ideas
/src/Okukus/Nav/possible.css
/src/Okukus/Nav/possible_nav.js
/src/Okukus/Nav/Hamburger2.js
/src/Okukus/css
/src/Okukus/files
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
