# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
# public
/src/public/bootstrap.css
/src/Okukus v1
/src/Okukus v2
/src/OkukusPages - Copy
/src/OkukusPages/files

/src/OkukusPages/images
/src/OkukusPages/404/404 copy.js
/src/OkukusPages/Button/Delete.js
/src/OkukusPages/Button/Primary.js
/src/OkukusPages/Button/Save.js
/src/OkukusPages/Button/Secondary.js
/src/OkukusPages/Carousel/okuks0.jpg
/src/OkukusPages/Carousel/okuks1.jpg
/src/OkukusPages/Carousel/okuks3.jpg
/src/OkukusPages/Carousel/okuks4.jpg

/src/OkukusPages/Cart/Cart copy.js
/src/OkukusPages/Cart/Cart(offline.js

/src/OkukusPages/Cart/Item.js
/src/OkukusPages/Cart/item.css
/src/OkukusPages/Cart/Item2 copy.js

 /src/OkukusPages/Checkout copy 2.js
 /src/OkukusPages/Checkout copy.css
 /src/OkukusPages/Checkout copy.js

/src/OkukusPages/Context
/src/OkukusPages/Nav/nav.css
/src/OkukusPages/Nav/new Nav.js
/src/OkukusPages/Nav/Nav2.js
/src/OkukusPages/Nav/nnav.css
/src/OkukusPages/Nav/NNav.js
/src/OkukusPages/Nav/oldNav.js
/src/OkukusPages/Notify/notify - Copy.js
/src/OkukusPages/Notify/notify - Copy.css

/src/OkukusPages/Order/Buy.js
/src/OkukusPages/Order/rough cut

/src/OkukusPages/Product/Dexktop.js
/src/OkukusPages/Product/jsonplaceholder.js
/src/OkukusPages/Product/III.txt
/src/OkukusPages/Product/newProducts.js
/src/OkukusPages/Product/newProductss.js
/src/OkukusPages/Product/note.js
/src/OkukusPages/Product/Pagination.js
/src/OkukusPages/Product/Pagination2.js
/src/OkukusPages/Product/Product(offline).js
/src/OkukusPages/Product/Product2.js
/src/OkukusPages/Product/Product3.js
/src/OkukusPages/Product/Products copy.js
/src/OkukusPages/Product/Products(offline).js
/src/OkukusPages/Product/react-infinite-scroll-hook.txt

/src/OkukusPages/Tag/Tag(offline).js

/src/OkukusPages/User/Profile/History(offline).js

/src/OkukusPages/User/Login copy.js
/src/OkukusPages/User/Signup copy.js

/src/OkukusPages/Okukus copy.js

/src/OkukusPages/ternary.js
/src/OkukusPages/trial
/src/OkukusPages/useInfinite.js

/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
