.search_wrapper {
  padding: 0.5em 0.5em 0em 0.5em;
  margin: 1em 0;
  font-size: 15px;
}

.title_item {
  text-align: center;
}

.search_message {
  padding: 10em 0;
  font-weight: 500;
}

.products_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 51%;
  display: inline-grid;
  grid-template-columns: 50% 50% 50% 50%;
  padding: 0 0.5em 0.5em 0.5em;
}

@media (max-width: 720px) {
  .search_message {
    padding: 10em 0;
  }
}

@media (max-width: 540px) {
  .products_wrapper {
    width: 100%;
    grid-template-columns: 50% 50%;
    padding: 0 0.25em 0.5em 0.25em;
  }
}
