.user_dialogbox {
  position: fixed;
  top: 55px;
  z-index: 1031;
  right: 8px;
  color: #1973d3;
  padding: 10px;
  transition: margin 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(149, 149, 149);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.menu_dialogbox {
  position: fixed;
  top: 0px;
  z-index: 1031;
  right: 0px;
  left: 50px;
  bottom: 0px;
  color: #d31947;
  padding: 10px;
  transition: margin 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(149, 149, 149, 0.836);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  font-size:70px;
}

.right{
  align-items: right !important; 
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .user_dialogbox {
    position: fixed;
    top: 61px;
    right: 40px;
    color: #1973d3;
    background-color: tomato;
    padding: 10px;
    transition: margin 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

.stack {
  display: inline-block;
  height: 50px;
  width: 2.35em;
  font-size: 1.33333em;
}

.stack:hover {
  background-color: #a5a5a5;
  border-radius: 100%;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.stack-1x {
  font-size: 1.5em;
  line-height: 1.6em;
  margin: 0 15px 0 0.5px;
  text-align: center;
  width: 100%;
}
