.selector2 {
  background-color: transparent;
  border: 1px solid #00d919;
  padding: 2px;
  border-radius: 0.5rem;
  width: 100%;
  outline: none;
  color: #666666;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.selector2:hover,
.selector2:focus {
  background-color: #48ff0020;
  width: 100%;
  outline: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.profile-active {
  color: rgb(77, 255, 71);
  background-color: #4de040;
}

.item2 {
  border: 1px solid #c82424;
  height: auto;
}

.account {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 1.5em;
}

.account_bg {
  background-color: whitesmoke;
}

.account-container {
  border-radius: 10px;
  transition: all 0.6s ease-in-out;
  padding: 2em 1.5em;
  background-color: #ffffff;
}

.order-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.2rem 0.5rem;
}

.order-qty {
  font-size: 13px;
}

.order-img {
  width: 100%;
}

.profile-text {
  font-size: 15px;
  color: rgb(156, 156, 156);
}

.profile-header {
  padding: 0.4rem 1.25rem;
  border: 1px solid #00000020;
  border: 1px solid #11111120;
  border-radius: 0.25rem 0.25rem 0 0;
}

.profile-body {
  padding: 0.4rem 1.25rem;
  background-color: #ffffff;
  border: 1px solid #00000020;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  padding: 1rem 1.25rem;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .sidey {
    margin-top: 1em;
    padding: 0 0.5em;
  }

  .item2 {

    height: 18vh;
    background-color: #ffffff20;
  }

  .account {
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
    margin-right: auto;
    margin-left: auto;
  }
  .sidebar-text {
    text-align: center;
    font-size: 20px;
    padding: 0.25em 0.15em;
  }

  .order-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.5rem 0.7rem;
  }

  .order-img {
    width: 100%;
  }

  .account-container {
    border-radius: 10px;
    transition: all 0.6s ease-in-out;
    padding: 3em 3em;
    background-color: #ffffff;
  }

  .selector2 {
    background-color: transparent;
    border: 1px solid #00d919;
    padding: 3px;
    border-radius: 0.5rem;
    width: 100%;
    outline: none;
    color: #666666;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .selector2:hover,
  .selector2:focus {
    background-color: #48ff0020;
    width: 100%;
    outline: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
