.cart-background {
  background-color: whitesmoke;
}

.cart {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 1.5em;
}

.cart_stack {
  font-size: 4em;
  color: wheat;
  background-color: white;
  border-radius: 50% 50%;
  padding: 20px 30px;
}
.cart_button {
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.cart_button {
  border: 1px solid #00d919;
  background-color: #00d919;
}

.cart_button:active {
  transform: scale(0.95);
}

.cart_button:focus {
  outline: none;
}

.cart_button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.cart-container {
  border-radius: 10px;

  transition: all 0.6s ease-in-out;
  padding: 2em 1.5em;
  background-color: #ffffff;
}

.cart_page {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.cart_image {
  max-width: 100%;
}

.cart_detail {
  font-size: 13px;
  vertical-align: middle;
}

.card_item {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1em;
}

.card_total {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 1em;
  }

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .cart {
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
    margin-right: auto;
    margin-left: auto;
    padding: 2em;
  }

  .cart-container {
    border-radius: 10px;

    transition: all 0.6s ease-in-out;
    padding: 5em 3em;
    background-color: #ffffff;
  }

  .cart_image {
    max-width: 80%;
  }

  .cart_detail {
    font-size: auto;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
