.item {
  border: 1px solid #ff0000db;
}

.page {
  height: 20vh;
}

.notify-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.notify {
  display: flex;
  justify-content: space-between;

  max-width: 350px;
  overflow: hidden;
  font-size: 0.875rem;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 0.25rem;
}


.notify-header {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.25rem 0.75rem;
  color: #6c757d;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.notify-body {
  padding: 0.75rem;
}

.slideLeft {
  z-index: 49;
  top: 3.5rem;
  left: 0;
  right: 5em;
  -webkit-transition: margin 1.3s;
  transition: margin 1.3s;
  /* margin: -15em 0 0 0; */
  margin-right: -2em;
  position: fixed;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
  background-color: transparent;

}

.slideLeft.is-slideLeft-open {
  /* margin-top: -1.6em; */
  margin-right: -5em;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
}

.slideLeft::-webkit-scrollbar {
  display: none;
}

@media (max-width: 720px) {
}
