.welcome {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 15% 30%;
  background-color: #bfbfbf48;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
  z-index: 11;
}

.welcome_wrapper {
  border: 1px solid #c9bebedb;
  border-radius: 0.25em;
  background-color: #ffffff;
}

.item-top {
  display: flex;
  justify-content: flex-end;
}

.bi-x-circle {
  left: 64.8em;
  right: 5em;
  width: 1.5em;
  height: 1.5em;
  margin: 10px;
}

.welcome_message {
  border-radius: 0.25em;
  text-align: center;
  margin: 6em 0em 8em;
}

.thanks {
  padding: 10px 0;
  text-align: center;
}

@media (max-width: 720px) {
  .welcome {
    padding: 45% 2%;
  }
  .welcome_wrapper {
  }
  .welcome_message {
    margin: 1.5em 0.5em 4em;
  }

  .thanks {
    padding: 10px 0;
    text-align: center;
  }
}
