.bg {
  background: linear-gradient(
    45deg,
    #18bc4c 0%,
    #23cc3c 25%,
    #27dc2d 50%,
    #97e63c 75%,
    #bef033 100%
  );
}

.bdg {
  background: linear-gradient(
    45deg,
    #bef033 0%,
    #97e63c 25%,
    #27dc2d 50%,
    #23cc3c 75%,
    #18bc4c 100%
  );
}

.welcome {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #bfbfbf48;
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
  z-index: 11;
}

.welcome_wrapper {
  border: 1px solid
    linear-gradient(
      45deg,
      #18bc4c 0%,
      #23cc3c 25%,
      #27dc2d 50%,
      #97e63c 75%,
      #bef033 100%
    );
  border-radius: 0.25em;
  background: linear-gradient(
    45deg,
    #18bc4c 0%,
    #23cc3c 25%,
    #27dc2d 50%,
    #97e63c 75%,
    #bef033 100%
  );
  width: 100%;
  max-width: 480px;
  margin: 10rem auto;
  transition: all 0.6s ease-in-out;
  height: 15em;
  color: #ffffff;
}

.item-top {
  display: flex;
  justify-content: flex-end;
}

.bi-x-circle {
  left: 64.8em;
  right: 5em;
  width: 1.5em;
  height: 1.5em;
  margin: 10px;
}

.welcome_message {
  border-radius: 0.25em;
  text-align: center;
  margin: 2em 0em 5em;
  padding: 0 1em;
}

.welcome_company {
  /* font-size: 30px;
  text-align: left;
  margin-top: 0 ; */
}

.newsletter {
  font-size: 14px;
  margin: 0.5em 0em;
}

.welcome_input {
  background-color: #eee;
  border: 1px solid transparent;
  outline: none;
  border-radius: 13px 0 0 13px;
  padding: 6px 15px;
  width: 41%;
}

.welcome_input:hover,
.welcome_input:focus {
  border: 1px solid #00d919;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.welcome_button {
  border-radius: 0 13px 13px 0;
  background-color: #00d919;
  border: 1px solid #00d919;
  color: #ffffff;
  padding: 6px 15px;
  transition: transform 80ms ease-in;
  width: auto;
  margin: 0 0 0 0;
  align-items: center;
}

.welcome_button:active {
  /* transform: scale(0.95); */
}

.welcome_button:focus {
  outline: none;
}

.thanks {
  padding: 10px 0;
  text-align: center;
}

@media (max-width: 540px) {
  .welcome {
  }
  .welcome_wrapper {
    width: 100%;
    max-width: 500px;
    margin: 10rem auto;
    transition: all 0.6s ease-in-out;
    height: 15em;
    color: #ffffff;

    width: auto;
    margin: 10em 4%;
  }
  .welcome_message {
    margin: 1.5em 0.5em 4em;
  }

  .welcome_input {
    width: 11.3em;
  }

  .welcome_button {
    padding: 6px 10px;
    justify-content: space-evenly;
    width: 4.5em;
  }

  .thanks {
    padding: 10px 0;
    text-align: center;
  }
}

@media (max-width: 280px) {
  .welcome_company {
    margin: 0.5em 0 0 0;
    font-size: 15px;
  }

  .newsletter {
    font-size: 12px;
    margin: 0.5em 0em;
  }

  .welcome_input {
    width: 8.6em;
  }
}
