.alertbox {
  top: 55px;
  margin: 0 30%;
  padding: 0.5em 0.5em;
  border: 1px solid #c9bebedb;
  border-radius: 0.25em;
  background-color: #ffffff;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
  top: 5em;
}

.slideBottom {
  z-index: 10;
  top: 8.8%;
  left: 0;
  right: 0;
  -webkit-transition: margin 1.3s;
  transition: margin 1.3s;
  margin: -16em 0 0 0;
  position: fixed;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
}

.slideBottom.is-slideBottom-open {
  margin-top: -1.6em;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
}

.slideBottom::-webkit-scrollbar {
  display: none;
}

@media (max-width: 720px) {
  .alertbox {
    margin: 0 3%;
    background-color: rgb(255, 255, 255);
  }

  .slideBottom {
    z-index: 10;
    top: 6.5em;
    left: 0;
    right: 0;
    -webkit-transition: margin 1.3s;
    transition: margin 1.3s;
    margin: -16em 0 0 0;
    position: fixed;
    -webkit-transition: all ease 0.7s;
    transition: all ease 0.7s;
  }
  
  .slideBottom.is-slideBottom-open {
    margin-top: -1.6em;
    -webkit-transition: all ease 0.7s;
    transition: all ease 0.7s;
  }
  
  .slideBottom::-webkit-scrollbar {
    display: none;
  }
}
