.item {
  border: 1px solid #ff0000db;
}

.bg-black {
  background-color: black;
}

.product-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 160px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
}

div.categories {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.categories::-webkit-scrollbar {
  display: none;
}

.button {
  margin: 0 0.3em 0 0.3em;
  padding: 3px 14.5px 3.5px 14.5px;
  color: #212529;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: 2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button:focus {
  outline: 0;
}


.button-view {
  color: #fff;
  border-color: #0069d9;
}

.button-view:hover,
.button-view:focus {
  background-color: #0069d9;
}

.spin {
  margin-top: 6.6rem !important;
}

.slideUp {
  margin: 0 0.3em 0 0.3em;
  padding: 3px 14.5px 3.5px 14.5px;
  color: white;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid #0069d9;
  font-size: 1rem;
  border-radius: 2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.slideUp.is-slideUp-open {
  color: #fff;
  background-color: #0069d9;
  border-color: #0069d9;
}

.slideUp:focus,
.slideUp:hover {
  outline: 0;
  background-color: #0069d9;
}



@media (min-width: 576px) {
  .spin {
    margin-top: 3.9rem !important;
  }
}

@media (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .product-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 240px;
  }

  .spin {
    margin-top: 3.8rem !important;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
