.tag_wrapper {
  margin: 0em 0em;
}

.selected {
  background-color: #00d919;
  color: #ffffff;
}

.selected:active,
.selected:focus {
  background-color: #00d919;
  color: #ffffff;
  outline: none;
}

.selector {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5em 0 0 0;
  color: #777777;
  padding: 0.7em 1em;
  outline: none;
  width: 100%;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: block;
}

.selector:hover {
  background-color: #00d919;
  color: #ffffff;
  outline: none;
}

.selector:focus,
.selector:active {
  background-color: #00d919;

  color: #ffffff;
  transform: scale(0.95);
  outline: none;
}

@media (max-width: 720px) {
  .selector {
    padding: 0.5em 1em;
  }

  .another {
  }
}

@media (max-width: 540px) {
  .selector {
    font-size: 17px;
    padding: 0.6em 1em;
    margin: 0.5em 0 0 0;
  }

  .another {
  }
}
