.notifier {
  background-color: tomato;
  padding: 0.1em;
  font-size: 20px;
  text-align: center;
}

.notify {
  background-color: #3de60e12;
  color: #071a01ba;
  font-size: 12px;
  padding: 6px 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
}

@media (max-width: 540px) {
  .notify {
    width: 100%;
    padding: 2px 0px;
    display: block;
    margin: 3px 0 0 0;
  }
}

@media (max-width: 280px) {

}
