.item {
  border: 1px solid #ff0000db;
}

.page {
  height: 20vh;
}

.notify-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.notify {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 55px;
  z-index: 9;
  right: 1%;
  color: #1973d3;
  transition: margin 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  word-wrap: break-word;
  padding: 4px;
  background-color: #00ffae;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  text-align: center;
  width: 10em;

  
}

.notify-header {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.25rem 0.75rem;
  color: #6c757d;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.notify-body {
  padding: 0.75rem;
}

.slideNotify {

  top: 3.5rem;
  left: 0;
  right: 5em;
  -webkit-transition: margin 1.3s;
  transition: margin 1.3s;
  /* margin: -15em 0 0 0; */
  margin-right: 10em;
  position: fixed;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
  background-color: #ffffff;
}

.slideNotify.is-slideNotify-open {
  /* margin-top: -1.6em; */
  margin-right: -2em;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
}

.slideNotify::-webkit-scrollbar {
  display: none;
}

@media (max-width: 720px) {
}
