.account {
  display: flex;
  justify-content: space-between;
  height: 75vh;
}

.account_detail {
  width: 40%;
  min-width: 45%;
}

.profile-header {
  padding: 0.4rem 1.25rem;
  border: 1px solid #00000020;
  border: 1px solid #11111120;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
}

.item-change {
  border-radius: 0;
  display: flex;
  justify-content: space-between;
}

.worry{
  width: 100%;
}

.static{

}

.bi-pencil-square {
  width: 1.2em;
  height: 1.2em;
}

.bi-pencil-square:hover,
.bi-pencil-square:active,
.bi-pencil-square:focus {
  color: #7f7f7f;
  padding: 0.1em;
}

.user_name {
}

.user_email {
}

.address_book {
  width: 50%;
}

.profile-body {
  padding: 0.4rem 1.25rem;
  background-color: #ffffff;
  border: 1px solid #00000020;
  word-wrap: break-word;
}

.edit_items{
  display: flex;
  flex-direction: column;
}

.extra_margin{
  margin-bottom: 0.5em;
}
.user_contact {
}

@media (max-width: 540px) {
  .account {
    flex-direction: column;
    height: auto;
  }

  .account_detail {
    width: 100%;
    padding: 0 0 0.5em 0;
  }

  .address_book {
    width: 100%;
  }
}
