.order_history {
  font-size: 15px;
}

.order_wrapper {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5em;
  margin: 0 0em 0.6em 0em;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 0.4px solid #7f7f7f57;
  border-radius: 0.25em;
}

.image_wrapper {
  width: 30%;
  text-align: center;
}

.order_image {
  width: 83px;
}

.order_details {
  width: 70%;
}

.order_name {
}

.order_qty {
}

.order_price {
}

.order_date_status {
}

.order_date {
}

._status {

  padding: 2.5px 10px 5px;
  border-radius: 0.5rem;
  color: #777777;
  text-align: center;
  outline: none;
}

.pending {
  background-color: yellow;
}

.processed_shipped {
  background-color: blue;
}

.fulfilled {
  background-color: green;
}

.cancelled {
  background-color: red;
}

@media (max-width: 540px) {
  .order_wrapper {
    margin: 0 0em 0.6em 0em;
  }

  .image_wrapper {
    width: 40%;
  }

  .order_image {
    width: 83px;
  }

  .order_details {
    width: 60%;
  }

  .order_name {
  }

  .order_qty {
  }

  .order_price {
  }

  .order_date_status {
  }

  .order_date {
  }

  .order_status {
  }
}
