.password {
  border: 0.4px solid #7f7f7f57;
  border-radius: 0.25em;
  padding: 0.4rem 1.25rem;
  width: 50%;
}

.password_detail {
  word-wrap: break-word;
}

.password_detail:not(:last-child) {
  margin-bottom: 0.5rem;
}

.account_email {
  margin: 0 0 0 0.5em;
  padding: 0.5em 0;
}

.bi-pencil-square {
  width: 1.2em;
  height: 1.2em;
}

.bi-pencil-square:hover,
.bi-pencil-square:active,
.bi-pencil-square:focus {
  color: #7f7f7f;
  padding: 0.1em;
}

@media (max-width: 720px) {
  .password {
    width: 90%;
  }
}

@media (max-width: 540px) {
  .password {
    width: 100%;

  }
}
