

.sidelist {
  width: 50%;
  padding: 0 0.5em 0 0.5em;
}

.sidebyside {
  width: 100%;
  padding: 0 0.5em;
  margin-bottom: 0.7em;
}

.sidebarbtn {
  padding: 3px 0;
  background-color: #00d91913;
  border: 1px solid #00d91913;
  border-radius: 0.9em;
  width: 100%;
  outline: none;
  color: #666666;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.sidebarbtn:focus {
  outline: 0;
}

.sidebarbtn-view,
.sidebarbtn-view:hover,
.sidebarbtn-view:focus {
  background-color: #48ff0050;
  width: 100%;
  outline: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (min-width: 576px) {
}

@media (min-width: 720px) {

  .sidelist {
    width: 100%;
  }

  .sidebyside {
    width: 50%;
  }

  .sidebarbtn {
    padding: 5px;
    background-color: #00d91913;
    border: 0px solid #00d91913;
    border-radius: 0;
    width: 100%;
    outline: none;
    color: #666666;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .sidebarbtn:focus {
    outline: 0;
  }

  .sidebarbtn-view,
  .sidebarbtn-view:hover,
  .sidebarbtn-view:focus {
    background-color: #48ff0050;
    border: 1px solid #00d91913;
    width: 100%;
    outline: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
