.head{
  background-color: #00ff55;


}


.nav_header {
  background-color: #00ff55;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5em 2em;


  transition: all 0.6s ease-in-out;
}

.one {
  display: flex;
  order: 1;
}

.home {
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 1.325em;
}

.home:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.home:active {
  color: rgb(0, 0, 0);
  transform: scale(0.95);
}

.home:focus {
  color: rgb(0, 0, 0);
  outline: none;
}

.bi-justify {
  width: 2em;
  height: 2em;
}

.bi-person-circle {
  width: 2em;
  height: 2em;
}

.bi-cart3 {
  width: 2em;
  height: 2em;
}

.insider {
}

.two {
  order: 3;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.justify {
  margin: 0;
  border-radius: 0.2em;
}

.cartIcon {
  margin: 0;
  padding: 0.2em 0em 0.2em 0.25em;
  border-radius: 0.2em;
}

.cart3000 {
  position: relative;
  border: 0px solid #ff0000;
  background-color: #ff0000;
  color: #ffffff;
  align-items: center;
  padding: 0 3px;
  top: -0.5em;
  border-radius: 13px;
  font-size: 15px;
  font-weight: 500;
}

.profile {
  margin: 0;
  padding: 0.25em 0.25em 0.25em 0.5em;
  border-radius: 0.2em;
  cursor: default;
}

.justify:active,
.cartIcon:active,
.profile:active {
  transform: scale(0.95);
}

.cartIcon:focus,
.profile:focus {
  outline: none;
}

.three {
  display: none;
}

.four {
  order: 2;
}



.slideRight {
  z-index: 49;
  height: auto;
  width: 16em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: margin 1.3s;
  transition: margin 1.3s;
  margin: 0 0 0 -130vh;
  position: fixed;
  overflow: scroll;
  background-color: white;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
}

.slideRight.is-slideRight-open {
  margin-left: 0;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
}

.slideRight::-webkit-scrollbar {
  display: none;
}


@media (max-width: 540px) {
  .nav_header {
    padding: 0.5em 0.5em;
    background-color: #00ff55;
    color: rgb(0, 0, 0);
  }

  .one {
    display: flex;
    order: 1;
  }

  .bi-justify {
    width: 2.5em;
    height: 2.5em;
  }

  .bi-person-circle {
    width: 2em;
    height: 2em;
  }

  .bi-cart3 {
    width: 2em;
    height: 2em;
  }

  .two {
    order: 3;
  }

  .justify {
    margin: 0;
    border-radius: 0.2em;
  }

  .cartIcon {
    margin: 0;
    padding: 0.2em 0 0.2em 0.25em;
    border-radius: 0.2em;
  }

  .cart3000 {
    top: -0.5em;
  }

  .profile {
    margin: 0;
    padding: 0.25em 0.25em 0.25em 0.5em;
    border-radius: 0.2em;
  }

  .justify:active,
  .cartIcon:active,
  .profile:active {
    box-shadow: 0 0.125rem 0.25rem #00000013 !important;
    transform: scale(0.95);
  }

  .cartIcon:focus,
  .profile:focus {
    outline: none;
    box-shadow: 0 0.125rem 0.25rem #00000013 !important;
  }

  .three {
    display: inline;
    order: 2;
    font-size: 1.4rem;
  }

  .home {
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 1em;
  }

  .four {
    order: 4;
    text-align: center;
    width: 100%;
  }

  .insider2 {
    display: none;
  }

  .slideRight {
    width: 100%;
  }

  .slideRight.is-slideRight-open {
  }

  .slideRight::-webkit-scrollbar {
  }
}

@media (max-width: 320px) {
  .bi-justify {
    width: 2.5em;
    height: 2.5em;
  }

  .bi-person-circle {
    width: 1.5em;
    height: 1.5em;
  }

  .bi-cart3 {
    width: 1.5em;
    height: 1.5em;
  }

  .cart3000 {
    top: -0.77em;
  }
}

@media (max-width: 280px) {
  .bi-justify {
    width: 2em;
    height: 2em;
  }

  .bi-person-circle {
    width: 1.5em;
    height: 1.5em;
  }

  .bi-cart3 {
    width: 1.5em;
    height: 1.5em;
  }

  .cart3000 {
    top: -0.3em;
  }
}

/* find out the Bible scripture for jehovah bein the head of Jesue, who leads the man */
