.hamburger_wrapper {
  padding: 0.5em;
}

.hamburger_topline {
  display: flex;
  justify-content: flex-end;
}

.okukus {
  font-size: 1.5rem;
  color: #333333;
}

.okukus:hover,
.okukus:focus {
  text-decoration: none;
  color: #00d919;
}

.back {
  margin: 0;
  border: 1px solid #00d91913;
  border-radius: 5em;
  color: #777777;
  background-color: #00d91913;
}

.back:hover {
  background-color: #00d919;
  color: #ffffff;
  outline: none;
  border: 1px solid #00d919;
}

.back:active {
  box-shadow: 0 0.125rem 0.25rem #00000013 !important;
  transform: scale(0.95);
  background-color: #00d919;
}

.back:focus {
  background-color: #00d919;
  outline: none;
  box-shadow: 0 0.125rem 0.25rem #00000013 !important;
}

.bi-arrow-left-circle {
  width: 2.5em;
  height: 2.5em;
}

@media (max-width: 720px) {
  

}
