.order_ {
  padding: 0.5em;
  margin: 1em 0;
}

.buy_wrapper {
  text-align: center;
}

.buy_form,
.momo_form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.details {
  padding: 0 3.5em;
  text-align: center;
  letter-spacing: 0.5px;
}

.payment_wrapper {
  display: flex;
  justify-content: center;
}

.radio {
  margin-right: 0.5em;
}

ol {
}

.payment_instruction {
  display: flex;
  justify-content: center;
  text-align: left;
}

@media (max-width: 720px) {
  .payment_wrapper {
    flex-direction: column;
  }

  ol {
    padding-left: 20px;
  }

  .payment_instruction {
  }
}
