

.spin {
  margin: 5.7em 0em 0em 0em;
}

@media (min-width: 576px) {
  .spin {
    margin-top: 3.9rem !important;
  }
}

@media (min-width: 768px) {
  .spin {
    margin-top: 4.1rem !important;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
