.user_wrapper {
  padding: 0.5em;
  height: 65vh;
}

.user_form,
.message_wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input {
  background-color: #eee;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  padding: 12px 15px;
  margin: 0 auto 8px auto;
  width: 30%;
}

.input:hover,
.input:focus {
  border: 1px solid #00d919;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.cart_item_qty {
  text-align: center;
  width: 4em;
  margin: 0 0.5em;
}

.cart_item_qty {
  text-align: center;
  width: 4em;
  margin: 0 0.5em;
}

.user_message {
  background-color: #00d91913;
  border: 1px solid #00d91913;
  padding: 2.5px 10px;
  border-radius: 0.5rem;
  color: #777777;
  margin: 0 auto 8px auto;
  text-align: center;
  outline: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (max-width: 720px) {
  .user_wrapper {
    padding: 0.5em;
    height: auto;
  }

  .input {
    margin: 0px auto 8px auto;
    width: 70%;
  }

  .user_message {
    margin: 0 auto 8px auto;
  }
}
