.input,
.edit_input,
.hi_hi,
.checkout_input {
  background-color: #eee;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  padding: 12px 15px;
  margin: 0 auto;
}

.input:not(:last-child),
.edit_input:not(:last-child),
.hi_hi:not(:last-child),
.checkout_input:not(:last-child) {
  margin-bottom: 0.5rem;
}

.input {
  width: 35%;
  display: block;
}

.edit_input,
.hi_hi {
  width: 100%;
}

.checkout_input {
  width: 100%;
}

.input:hover,
.input:focus,
.edit_input:hover,
.edit_input:focus,
.hi_hi:hover,
.hi_hi:focus,
.checkout_input:hover,
.checkout_input:focus {
  border: 1px solid #00d919;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

@media (max-width: 768px) {
  .checkout_input {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .input {
    width: 80%;
  }

  .edit_input,
  .hi_hi,
  .checkout_input {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .input,
  .hi_hi,
  .checkout_input {
    width: 100%;
  }
}
