.edit_input {
  background-color: #eee;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  padding: 12px 15px;
  margin: 0 auto 8px auto;
  width: 100%;

}

.edit_input:hover,
.edit_input:focus {
  border: 1px solid #00d919;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

@media (max-width: 540px) {
  .edit_input {
    width: 100%;
  }
}
